option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "PJGh686wADXdRboLLmbkER0V4D95wlLVatRJXUl0"
    MASTER_KEY: "4t5Y7WU5lShBRzNz4SeT1gbXxqfABGRvH0T8bL3c"
    DATABASE_URI: "ReplaceWithDatabaseURI"
    NODE_ENV: "production"
    SERVER_URL: "https://night-market--taiwan.herokuapp.com/parse"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
